<ion-view view-title="{{'Dashboard' | translate}}">
<ion-content>
	<ion-header-bar align-title="left" class="bar-positive">
		<button class="button btntop" ui-sref="app.calendarui" >
			{{'Cal.'| translate}}  <i class="ion-chevron-right"></i> 
		</button>
		<button class="button btntop" ui-sref="app.activity" >
			{{'Act'| translate}}  <i class="ion-chevron-right"></i> 
		</button>
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button btntop" ui-sref="app.eNews">
			{{'E-NEWS'| translate}}  <i class="ion-chevron-right"></i> 
		</button>
		</div>
	</ion-header-bar>
	<div style="height: 44px;"></div>
		<div class="row">
			<div class="card text-center" style=" background-color: #4c87b9; color: white;">
				<i class = "icon ion-document-text"></i><br>
				1349<br>
				Total Policies 
			</div>

			<div class="card text-center" style=" background-color: #d05454; color: white;">
				<i class = "icon ion-trophy"></i><br>
				12,5M$<br>
				Total Revenue
			</div>
		</div>
		<div class="row">
			<div class="card text-center" style=" background-color: #3faba4; color: white;">
				<i class = "icon ion-speakerphone"></i><br>
				2<br>
				Upcoming Events
			</div>

			<div class="card text-center" style=" background-color: #8877a9; color: white;">
				<i class = "icon ion-earth"></i><br>
				2<br>
				Incomplete Proposals (Sync)
			</div>
		</div>
	</ion-content>
</ion-view>