<ion-view title="{{'Event Today' | translate}}">
    <content>
        <div style="height: 90px;"></div>
        <div class="list">
            <div class="item item-button-right">
                {{'Morning' | translate}}
                <button class="button button-positive" ui-sref="app.morningevent">
                        <i class="icon ion-arrow-right-a"></i>
                </button>
            </div>
            <div class="item item-button-right">
                {{'Afternoon' | translate}}
                <button class="button button-positive" ui-sref="app.afternoonevent">
                        <i class="icon ion-arrow-right-a"></i>
                </button>
            </div>
            <div class="item item-button-right">
                {{'Night' | translate}}
                <button class="button button-positive" ui-sref="app.nightevent">
                        <i class="icon ion-arrow-right-a"></i>
                </button>
            </div>
        </div> 
    </content>  
</ion-view>