<ion-view title="{{'Investment' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button btntop" ng-click="saveInv()">
            {{'Save'| translate}}   
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">
        <form name="investmentForm" novalidate>
            <div class="list">
                <div class="item item-divider heading"><center>Get Started Today</center></div>
                <label class="item item-input item-stacked-label" ng-class="{ 'has-error': investmentForm.currentAge.$invalid && investmentForm.currentAge.$dirty }">
                    <span class="input-label line-text">Current Age::</span>
                    <input type="text" name="currentAge" ng-model="data.Age" placeholder="15" value="35" maxlength="3" required>
                    <div class="help-block error-block basic-block validation-errors" ng-show="investmentForm.$submitted || investmentForm.currentAge.$touched">
                        <p class="help-block error-block basic-block validation-errors" ng-show="investmentForm.currentAge.$error.required">Must enter current age</p>
                    </div>
                </label>

                <label class="item item-input item-stacked-label" ng-class="{ 'has-error': investmentForm.inflationRate.$invalid && investmentForm.inflationRate.$dirty }">
                    <span class="input-label line-text">Inflation Rate(%):</span>
                    <input type="text" name="inflationRate" ng-model="data.InflationRate" placeholder="3" value="9.00" maxlength="5" required>
                    <div class="help-block error-block basic-block validation-errors" ng-show="investmentForm.$submitted || investmentForm.inflationRate.$touched">
                        <p class="help-block error-block basic-block validation-errors" ng-show="investmentForm.inflationRate.$error.required">Must enter inflation rate</p>
                    </div> 
                </label>

                <label class="item item-input item-stacked-label" ng-class="{ 'has-error': investmentForm.attainAge.$invalid && investmentForm.attainAge.$dirty }" >
                    <span class="input-label line-text">At what age do you wish to attain that amount of money?</span>
                    <input type="text" name="attainAge" ng-model="data.AttainAge" placeholder="16" value="60" maxlength="3" required>
                    <div class="help-block error-block basic-block validation-errors" ng-show="investmentForm.$submitted || investmentForm.attainAge.$touched">
                        <p class="help-block error-block basic-block validation-errors" ng-show="investmentForm.attainAge.$error.required">Must enter attain age</p>
                    </div> 
                    <p class="help-block error-block basic-block validation-errors" ng-show="data.AttainAge < data.Age">Attain age must be greater than current age</p>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label line-text">Amount invested so far:</span>
                    <input type="text" name="amountInvested" ng-model="data.AmountInvested" placeholder="30000" value="1,000" maxlength="18">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label line-text">How much money do you intend to have in the future given your current financial conditions?</span>
                    <input type="text" name="presentAmount" ng-model="data.PresentAmount" placeholder="5" value="10,00,000" maxlength="18">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label line-text">Expected average annual return of investment:</span>
                    <input type="text" name="annualAverageRoi" ng-model="data.AnnualAverageRoi" placeholder="9" value="9.00" maxlength="5">
                </label>
                <padding><br>
                    <div align="center">
                        <button class="button button-positive" ng-click="myGoBack()">
                            {{'Back' | translate}}
                        </button>
                        <button   class="button button-positive"  ng-click="investmentForm.$valid && calculateInv()">
                            {{'Calculate' | translate}}
                        </button>
                    </div>
                </padding>
            </div>
        </form>
    </ion-content>
</ion-view>