<ion-view hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar bar-positive br-header">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
            <div style="margin-left: 20px;" class="item-input-inset" ng-if="hasFilter">
                <label class="item-input-wrapper textbox-search">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchText" ng-keyup="filterProduct(searchText);">
                </label>
            </div>
        </div>
        <h1 class="title" ng-show="!hasFilter">{{'Proposal'| translate}}</h1>
        <div class="buttons">
            <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="openFilters(hasFilter);" ng-class="{'ion-ios-search-strong':!hasFilter,'ion-close-circled':hasFilter}" style="z-index:9999;"></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="item-accordion" ng-repeat="proposal in getproposalList | filter: searchProduct">
            <a class="{active: isGroupShown($index)} item item-divider" ng-click="toggleGroup($index)">
                <i class = "icon" ng-class="isGroupShown($index) ? 'ion-ios-minus-outline' : 'ion-plus-circled'" style="float:right; color:#797474;"></i>
                Policy Holder:&nbsp;<h3 style="color:#4c87b9;">{{proposal.Name}}</h3>
                Prop Date:&nbsp;{{proposal.ProposalStateDate | date:'yyyy-MM-dd'}}
            </a>
            <div ng-show="isGroupShown($index)">
                <a class="item " href="#">
                    Prop No:
                    <span class="badge">{{proposal.QuoteNo}}</span>
                </a>
                <a class="item " href="#">
                    Product No:
                    <span class="badge">{{proposal.ProductCode}}</span>
                </a>
                <a class="item " href="#">
                    Sum Assured:
                    <span class="badge">{{proposal.ProductCode}}</span>
                </a>
                <a class="item " href="#">
                    Annual Premium:
                    <span class="badge">{{proposal.CoverUnit}}</span>
                </a>
                <a class="item " href="#">
                    Installment Premium:
                    <span class="badge">{{proposal.InstallmentPremium}}</span>
                </a>
                <a class="item " href="#">
                    Premium Mode:
                    <span class="badge">{{proposal.PremiumMode}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>	



